md-input{
  width:100%;
}
.results-item{
  display: block;
}

.add-item{
  justify-content: flex-end;
}

.results-item md-icon{
  --s: var(--unit);
  width: var(--s);
  height: var(--s);
  font-size: var(--s);
  cursor: pointer;
}
