<md-card class="mb-20">
  <div [style.height]="'300px'">
    <flex-table>
      <flex-table-header fixed>

        <div [style.flex]="2">
          Start
        </div>
        <div [style.flex]="2">
          Modifier
        </div>

        <div>
          Edit
        </div>
      </flex-table-header>
      <flex-table-body>
        <flex-table-row *ngFor="let schedule of schedules">

          <div [style.flex]="2">
            <md2-datepicker #startDate format="DD-MM-YYYY HH:mm" type="datetime" [(ngModel)]="schedule.start"
                            (change)="schedule.setModifierByStartDate()" name="start" [disabled]="!inEditMode(schedule)"></md2-datepicker>
          </div>
          <div [style.flex]="2">
            <md2-select [(ngModel)]="schedule.modifier" name="modifier" [disabled]="startDate.disabled">
              <md2-option *ngFor="let modifier of modifiers" [value]="modifier">{{modifiersNames[modifier]}}</md2-option>
            </md2-select>
          </div>

          <div>
            <md-icon *ngIf="startDate.disabled" class="primary"
                     (click)="editSchedule(schedule)">mode_edit
            </md-icon>
            <md-icon *ngIf="!startDate.disabled" (click)="undoEdits()">clear</md-icon>
            <md-icon *ngIf="!startDate.disabled" class="primary"
                     (click)="confirmEdits()">check
            </md-icon>
          </div>
        </flex-table-row>
      </flex-table-body>
    </flex-table>
  </div>
  <div class="flex--right">
    <button type="button" md-mini-fab (click)="addSchedule()">
      <md-icon class="md-24">add</md-icon>
    </button>
  </div>
</md-card>
